.play{
align-items:center;
display:flex;
justify-content:space-between;
	
}
.play-name{
	font-weight:300;
	font-size:1.8rem
}
.play-stats{
	font-size:1.3rem;
	font-style:stalic;
	fonr-weight:300;
}
.play-actions{
	flex-shrink:0;
}